
TAREAS/B2/2-1 Integrating Embeddings with Queries in an Information Retrieval System/datos/bert_embeddings_completo.npy
/PROYECTO B2
CORRECCION EXAMENES/Correccion_examen_Ronny_Amores.ipynb
/TAREAS/B1
